<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Recipe App | Not Found</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/error-404s/error-404-1/assets/css/error-404-1.css">
        <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row align-items-md-center mb-5">
                <div class="col-md-12">
                    <div class="lc-block text-center"><span editable="inline" class="small mt-4 d-block">Spring Recipe App | By GayanthaSam</span>
                        <h2 editable="inline" class="display-2 mb-0"><b>Spring Boot Recipe App</b></h2>
                        <p editable="inline"> This is a sample Spring Boot application developed using thymeleaf template engine</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-md-center mb-10">
                <section class="py-3 py-md-5 d-flex justify-content-center align-items-center">
                    <div class="container">
                      <div class="row">
                        <div class="col-12">
                          <div class="text-center">
                            <h2 class="d-flex justify-content-center align-items-center gap-2 mb-4">
                              <span class="display-1 fw-bold">4</span>
                              <i class="bi bi-exclamation-circle-fill text-danger display-4"></i>
                              <span class="display-1 fw-bold bsb-flip-h">4</span>
                            </h2>
                            <h3 class="h2 mb-2">Oops! You're lost.</h3>
                            <p class="mb-5">The page you are looking for was not found.</p>
                            <a class="btn bsb-btn-5xl btn-dark rounded-pill px-5 fs-6 m-0" href="#!" role="button">Back to Home</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
            </div>
        </div>
    </body>
</html>