<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Recipe App | Home</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}"/>
        <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row align-items-md-center mb-5">
                <div class="col-md-12">
                    <div class="lc-block text-center"><span editable="inline" class="small mt-4 d-block">Spring Recipe App | By GayanthaSam</span>
                        <h2 editable="inline" class="display-2 mb-0"><b>Spring Boot Recipe App</b></h2>
                        <p editable="inline"> This is a sample Spring Boot application developed using thymeleaf template engine</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-md-center mb-10">
                <div class="col-lg-12 pr-10">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Description</th>
                                        <th>View</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:remove="all">
                                        <td>123</td>
                                        <td>Tasty Goodness 1</td>
                                        <td><a href="#">View</a></td>
                                    </tr>
                                    <tr th:remove="all">
                                        <td>456</td>
                                        <td>Tasty Goodness 2</td>
                                        <td><a href="#">View</a></td>
                                    </tr>
                                    <tr th:each="recipe : ${recipes}">
                                        <td th:text="${recipe.id}">334</td>
                                        <td th:text="${recipe.description}">Tasty Goodness 3</td>
                                        <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/show'}">View</a></td>
                                        <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Update</a></td>
                                        <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/delete'}">Delete</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>